html, body {
    background-color: #efefef;
    font-family: helvetica, sans-serif;
}

#content {
    overflow: hidden;
    height: 100%;
}

.player {
    width: 49%;
    float: left;
}

.player:last-child {
    float: right
}

.player p {
    text-align: center;
    background-color: #369;
    color: #fff;
    padding: 6px;
}

table {
    width: 100%;
}

table td {
    border: 1px solid #000000;
    text-align: center;
    height: 20px;
}