html, body {
    background-color: #efefef;
    font-family: helvetica, sans-serif;
}

#content {
    overflow: hidden;
    height: 100%;
}

.player {
    width: 49%;
    float: left;
}

.player p {
    text-align: center;
    background-color: #369;
    color: #fff;
    padding: 6px;
}

.player .field {
    position: relative;
}

.player .interaction-blocked {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: not-allowed;
}

.player.opponent .interaction-blocked {
    background: #000;
    opacity: 0.1;
}

.player.opponent {
    float: right
}

.player.opponent p {
    background-color: #AA0000;
}

table {
    width: 100%;
    margin-bottom: 70px;
}

table td {
    background-color: #BBCBE7;
    text-align: center;
    height: 20px;
    color: #369;
    cursor: pointer;
    height: 30px;
}

.player.you table td {
    cursor: inherit;
}

.player.you table td.ship {
    cursor: pointer;
}

table td.used {
    background: #BBCBE7 url(../images/pin.png) center center;
    cursor: not-allowed;
}

table td.hit {
    background: #BBCBE7 url(../images/explosion.png) center center;
    cursor: not-allowed;
}

table td.ship.battleship {
    background-color: #919191;
}

table td.ship.carrier {
    background-color: #912f1c;
}

table td.ship.cruiser {
    background-color: #5c6091;
}

table td.ship.destroyer {
    background-color: #18914d;
}

.player.opponent table td {
    border-color: #AA0000;
    color: #AA0000;
}

footer {
    position: fixed;
    border-top: 1px solid #000000;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    height: 30px;
    background-color: #3AAC4C;
    color: #ffffff;
}

footer p {
    margin: 0;
}

.modal-window {
    background-color: #3AAC4C;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
}

.hide-on-start, .show-on-gamestart, .placement-done, .waiting-for-opponent {
    display: none;
}

.waiting-for-opponent img {
    position: relative;
    top: 3px;
}

.player .place-ships {
    position: absolute;
    top: 50px;
    left: 155px;
    background: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}

.active-player {
    background-image: url(../images/gamepad.png);
    background-repeat: no-repeat;
    background-position: 10px -4px;
}